<%- include('header') -%>

    <h1 class="about-head">Who are we & what do we do ?</h1>
    <h3 class="about-content">We are a group of ingenious and creative students who experimented with EJS.</h3>

    <%- include('footer') -%>
