html {
    background-color: #647cde;
    background-image: -webkit-linear-gradient(53deg, #05cc47 50%, #181a1b 50%);
    min-height: 1000px;
    font-family: 'Palatino';
    text-align: center;
  }
  
  h1 {
    color:#a6b1de;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #647cde; 
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #4dc47d;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 40px;
    font-size: 25px;
    font-weight: 400;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #4dc47d;
    color: #fff;
    font-size: 30px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #4dc47d;
  }
  
  ::placeholder {
    color: black;
    opacity: 0.5;
  }
  
  footer {
    color: #647cde;
    text-align: center;
  }

  .about-head {
    color: white;
  }
  
  .about-content {
    color: white;
  }
